<!DOCTYPE html>
<html>
	<head>
		<title>Basic Blog</title>
		<link rel="stylesheet" type="text/css" href="/static/main.css" />
	</head>
	
	<body>
		<div class="nav-bar">
			<a href="/" class="main-title">Basic Blog</a>
			<div class="links">
				<a href="/newpost" title="newpost">Add new post</a>
	    		<a href="/signup" title="signup">Signup new user</a>	
			</div>

			<div class="login">
			{% if user %}
				Logged in as {{user}}
				<a href="/logout" title="logout">Logout</a>
			{% else %}
				<a href="/login" title="login">Login</a>
			{% endif %}
			</div>
		</div>
		
		
		<div id="content">
		{% block content %}
		{% endblock %}
		</div>
		
	</body>
</html>