{% extends "base.html" %}

{% block content %}
    <a href="/newpost" title="newpost">Add new post</a>
    <a href="/signup" title="signup">Signup new user</a>
    <a href="/login" title="login">Login</a>

    {% for blog in blogposts %}
        <div class="blog">
            <div class="blog-heading">
                <div class="blog-title">
                    {{blog.subject}}
                </div>

                <div class="blog-date">
                    {{blog.created.strftime("%b %d, %Y")}}
                </div>
            </div>
            
                <div class="blog-body">
                    {{blog.content}}
                </div> 
        </div>

    {% endfor %}
{% endblock %}