{% extends "base.html" %}

{% block content %}
    {% for blog in blogposts %}
        <div class="blog">
            <div class="blog-heading">
                <div class="blog-title">
                    {{blog.subject}}
                </div>

                <div class="blog-date">
                    {{blog.author}}
                    {{blog.created.strftime("%b %d, %Y")}}
                    <a href="/{{blog.key().id()}}">Permalink</a>
                    {% if blog.author == user %}
                        <a href="/edit/{{blog.key().id()}}">Edit</a>
                        <a href="/delete/{{blog.key().id()}}">Delete</a>
                    {% endif%}
                    {% if user and not blog.author == user %}
                        <a href="/like/{{blog.key().id()}}">Like</a>
                    {% endif %}
                </div>
            </div>
            
                <div class="blog-body">
                    {{blog.content}}
                </div> 
        </div>

    {% endfor %}
{% endblock %}