{% extends "base.html" %}

{% block content %}
<div class="login-form">
	<form method="post">
		<table>
			<tr>
				<td class="label"">
					Username
				</td>
			<td>
				<input type="text" name="username" style="width: 150px; font-size: 15px">
			</td>
			</tr>

			<tr>
				<td class="label">
					Password
				</td>
				<td>
					<input type="password" name="password" style="width: 150px; font-size: 15px">
				</td>
			</tr>
		</table>

		<div class="error">
			{{error}}
		</div>

		<br>
		<button>Submit</button>
	</form>
</div>


{% endblock %}