{% extends "base.html" %}

{% block content %}
<div class="signup">
	<form method="post">
<!-- 		<p>Username <input type="text" name="username">{{user_error}}</p>
		<p>Password <input type="password" name="password">{{password_error}}</p>
		<p>Verify Password <input type="password" name="verify">{{verify_error}}</p>
		<p>Email (optional) <input type="text" name="email">{{email_error}}</p> -->
		<table>
			<tr>
				<td class="label"">
					Username
				</td>
				<td>
					<input type="text" name="username" style="width: 150px; font-size: 15px">{{user_error}}
				</td>
			</tr>

			<tr>
				<td class="label">
					Password
				</td>
				<td>
					<input type="password" name="password" style="width: 150px; font-size: 15px">{{password_error}}
				</td>
			</tr>

			<tr>
				<td class="label">
					Verify Password
				</td>
				<td>
					<input type="password" name="verify" style="width: 150px; font-size: 15px">{{verify_error}}
				</td>
			</tr>

			<tr>
				<td class="label"">
					Email (optional)
				</td>
				<td>
					<input type="text" name="email" style="width: 150px; font-size: 15px">{{email_error}}
				</td>
			</tr>
		</table>

		<div class="error">
			{{error}}
		</div>
		<br>
		<button>Submit</button>
	</form>
</div>


{% endblock %}